RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


RewriteRule ^([^.]+)$ $1.php [NC,L]

<FilesMatch "\.(html|php)$">
    Header set Cache-Control "max-age=3600"
</FilesMatch>